[submodule "frontend/libraries/SDL"]
	path = frontend/libraries/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "frontend/clownresampler"]
	path = frontend/libraries/clownresampler
	url = https://github.com/Clownacy/clownresampler.git
[submodule "frontend/freetype"]
	path = frontend/libraries/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "frontend/libraries/imgui"]
	path = frontend/libraries/imgui
	url = https://github.com/Clownacy/imgui.git
	branch = font-nonlinear
[submodule "frontend/libraries/tinyfiledialogs"]
	path = frontend/libraries/tinyfiledialogs
	url = https://github.com/jfolker/tinyfiledialogs
